@import "./mixins";

/* Обнуление */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

html,
body {
  width: 100%;
  height: 100%;
  line-height: 1;
}

body {
  /* Default - change if needed */
  font-size: 16px;
}

[class*="__container"] {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  @include flex;
  // overflow: hidden;
}
